@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Plus Jakarta Sans;
  
}
body{
    overflow-x: hidden;
}
/* top nav */
.topper{
    display: flex;
    height: 40px; 
    background-color: #0C2695;
    display: flex;
    justify-content: right;  /* mq */
    padding: 0px 11.45%;
    transition: 0.80s;
  
  }

 #highlight {
    color: #4C6BF1;
    font-weight: 600;
    border: 2px solid #4C6BF1;
    padding: 0.2rem;
    border-radius: 0.5rem;
}
  
  /* 2nd nav */
  .header {
    /* position:fixed; */
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80px;
    /* width: 77.10%;  */  /* not required*/
    transition: 0.80s;
    align-items: center;
    background-color: #fff;
    color: #000;
    padding: 0px 11.45%;
    text-align: center;
    overflow: hidden;
    font-size: 0.875rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    gap : 10%;
  }
  
  .header .head{
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: left;
    font-weight: 700;
    margin: 1px;
    font-size: 1rem;
    height: 50px;
    position: relative;
    color: #0C2695;
  }
  .header .head p{
    font-size: 16px;
  }
  
  /* */
  @media only screen and (max-width:1000px){
    .header, .topper {
      padding: 0px 5%;
    }
    .main {
        padding: 0px 5%;
    }
  }
  @media only screen and (max-width:850px) {
    .header, .topper {
      padding: 0px 2%;
    }
    .main{
        padding: 0px 2%;
    }
  }
  
  /* header nav */
  
  .header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-weight: 200;
  }
  
  .header nav a {
    color: #000;
    text-decoration: none;
    font-size: 0.8rem;
    width: fit-content;
    margin: 10px 15px;
    font-weight: 500;
  }
  
  .header_items{
    text-decoration: none;
    display: flex;
    justify-content: end;
    gap: 24px;
    margin-top: 9px;  /*            changes              */
    color: #FFF;
    /* font-family: 'Inter'; */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
  }
  .header_items a {
    text-decoration: none;
    color: #FFF;
  }
  .header_items a:hover{
    font-weight: 600;
    transform: scale(1.1);
    transition: .25s;
  }
  .header .head{
    margin: 0;
    display: flex;
    /* justify-content: left; */
    text-align: left;
    width:200px;
    font-weight: bold;
    margin: 1px;
    font-size: 1rem;
    height: 50px;
    position: relative;
    color: #0C2695;
  }
  
  .header .head p{
    font-size: 16px;
  }
  
  .header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    margin-top: 10px;
    font-weight: 200;
  }
  
  .header nav a {
    color: #000;
      text-decoration: none;
      font-size: 0.8rem;
      margin: 10px 15px;
      font-weight: 500;
  }
  .header nav a:hover{
    transform: scale(1.1);
    font-weight: 600;
    transition: .35s;
  }
  .header nav a img:hover{
    transform: none;
  }
  /* ------------------------ */
  
  .hamburger{
    position: absolute;
    visibility: hidden;
    top: 60px;
    height: 35px;
    width: 35px;
    right: 15px;
    background-size: contain;
    /* border: 2px solid #0C2695; */
    border-radius: 5px;
    overflow: hidden;
  }
  
  #hamburger{
    transform: translateY(-38px);
    transition: 0.12s;
  }
  
  .hamburger img{
    height: 35px;
    width: 35px;
  }
  
  /* hamburger menu appears */
  @media only screen and (max-width: 800px) {
    .topper{
      justify-content: center;
      /* transition: 0.80s; */
    }
    .topper ul{
      padding: 0;
    }
    .header{
      height: 80px;
      flex-direction: column;
      /* justify-content: */
      gap:0px;
    }
    .header .head{
      margin-top: 20px;
      /* width: 300px; */
    }
    .header .head{
      position:absolute;
      left:15px;
    }
    .header .hamburger{
      visibility: visible;
    }
    .header nav{
      flex-direction: column;
      margin-top: 70px;
    }
    .navele{
      visibility: hidden;
    }
  }
  

  /*-----------------------------------------------------------------------------------------------------------*/
  .header3{
    background: url("./assets/home/aitmain.jpg") no-repeat;
    background-size:cover;
    background-position: center;

    height: 30vw;
    min-height: 320px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .header3 .show{
    position: absolute;
    /* top : 170px; */
    place-content: center; /*for making the items center */
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  /* --------------------------- */
  
  .header3 div p{
    position: relative;
    height: 0;
    left: 11.45%; /*use media queries for this */
    padding: 15px;
    margin: 0;
    color: #FAFAFA;
    background-color: #0c2595d0;
  }
  
  .header3 div .a{
    height: auto;
  
    width: fit-content;
    font-size: max(23px,2.5vw);
    padding: 20px;
    font-weight: bolder;
    padding-top: 25px;
    border-radius: 20px 20px 0px 0px;
  }
  
  .header3 div .b{
    height: auto;
    padding-bottom: 25px;
    background-color: #4c6af1;
    border-radius: 0px 20px 20px 20px;
    font-size: max(15px,1.2vw);
    width: fit-content;
    max-width: max(310px,35%);
  }
  
  /* to be done */
  
  .header3 div .c{
    margin-top: 60px;
    background-color: #0C2695;
    width: fit-content;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
  }
  /* for .c */
  .header3 a{
    color: #FAFAFA;
    text-decoration: none;
  }
  .header3 a:hover{
    text-decoration: underline;
  }
  
  /* media query for smaller screens - admissions */
  
  @media only screen and (max-width: 554px) {
    .header3 .show{
      align-items: center;
    }
    .header3 div p{
      left:0;
    }
    .header3 div .b{
      border-radius: 10px;
      padding: 15px;
    }
    .header3 div .c{
      font-size: 12px;
    }
    .header nav{
      margin-top: 70px;
    }
  }


  /* ---------------------------------------------------------------------------------------------------------- */



/*---------------------------------------------------------------------------------------------*/
.about_us{
    width: 100%;
    height: fit-content;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2rem 11.45%;
    gap: 5rem;
    background-image: linear-gradient(90deg, #fff 69%,#fff 1%, #3654D2 30%);
}
.main_content{
    text-align: justify;
}
.ab{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
} 
.about_vision{
    color: #4C6BF1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    margin-top: 40px;
}
.about_content{
    color: #6D6D6D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    margin-top: 16px;
    font-size: 1rem;
}
.about_list{
    margin-left: 20px;
    margin-top: 16px;
}
.about_list li{
    color: #6D6D6D;
leading-trim: both;
text-edge: cap;
font-feature-settings: 'clig' off, 'liga' off;
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
}

.about_mission{
    color: #4C6BF1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    margin-top: 40px;
}
.about_image{
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat, #FFF;
    flex-shrink: 0;
    z-index: 2;
    padding: 50px 10px;

} 
.about_image img{
    width: calc(32vw);
    height: calc(20vw);
    border-radius: 1rem;
}
@media only screen and (max-width : 1300px){
    .about_content{
        font-size: .7rem;
    }
}

@media only screen and (max-width : 900px){
    /* .main_content{
        width:max(400px,60vw);
    } */
    .about_image{
        display: none;
    }
    .about_us{
        justify-content: center;
        margin: 0;
        padding: 10px;
        background: #fff;
        height: fit-content;
        flex-direction: column;
    }
}
#highlight{
    color: #4C6BF1;
    font-weight: 600;
    border: 2px solid #4C6BF1;
    padding: 0.2rem;
    border-radius:0.5rem;
}
/* ----------------------------------------------------------------------------- */

.dir{
    overflow: hidden;
}
.jd_table{
    width: fit-content;
    max-width: min-content;
    height: fit-content;
    min-width: 225px;
    box-shadow: 0.1px 0.1px 3px rgba(0, 0,0,0.2);
    border-radius: 2px;
    font-family:'Plus Jakarta Sans';
    /* margin-left: 165px; */
    border-radius:8px;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.jd_table ul p{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    padding-top: 12px;
    border-style: hidden;
    border-top: 1px solid rgba(234,234,234,1);
}

.jd_table ul{
    list-style: none;
    display:flex;
    flex-direction:column;
    gap: 16px;
}
.jd_table ul a{
    font-size: 16px;
    color:#000000;
    text-align:left;
    vertical-align: middle;
    line-height:24px;
    border-style:hidden;
    width: 220px;
    height: 24px;
    border-top: 1px solid rgba(234,234,234,1);
    padding-top: 16px;
    padding-bottom: 16px;
}
.jd_table ul > *:first-child{
    border-top: 0;
}

#sub-nav{
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#box_hide{
    visibility: hidden;
}


/* ------------------------------------------------------------  */
.content-transition{
    display: flex;
    padding: 0 11.45%;
}

#director_top{
    border-top: none;
}
.middle_bar{
    display: flex;
    text-align: justify;
}
.director_pic{
    border-radius: 50%;
    margin-left: 30px;
    width: 160px;
    height: 160px;
    background: url(diro.jpg);
    background-repeat: no-repeat;
    background-position: top;
    /* background-color: #FFF; */
    display: inline-block;
}
.dir{
    display: flex;
}
.director_content, .laa ,.agb{
    margin-left: 1.88rem;
    width: calc(100vw - 15.5vw - 21.88rem);
}

.director_ok{
    color: #0C2695;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    max-width: 100vw;
    text-align: left;
}

.director_name{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.director_rank{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-top: 2px;
    line-height: 24px; /* 171.429% */
}
.director_rank2{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    margin-top: 2px;
}
.rank2{
    color: #6D6D6D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 2px;
}
.para_containi{
    color: #4C6BF1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    margin-top: 0px;
    width: inherit;
}
.para_con{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px;
    margin-right: 50px;
    width: 100%;
}
.para_head{
    color: #4C6BF1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    /* margin-top: 15px; */
    margin-bottom: 16px;
}
.lifeat{
    display: flex;
    margin-top: 72px;
}


.middle_bar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.h23{
    color: #0C2695;

    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.lc{
    margin-top: 30px;
    margin-bottom: 14px;
}

/* Table new */
.table{
    width: 255px;
    height: 603px;
    box-shadow: 0.1px 0.1px 3px rgba(0, 0,0,0.2);
    border-radius: 2px;
    font-family:'Plus Jakarta Sans';
    margin-left: 165px;
    border-radius:8px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 17px;
    margin-bottom: 3rem;
}

.table ul p{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    padding-top: 12px;
    border-style: hidden;
    border-top: 1px solid rgba(234,234,234,1);
    
}

.table ul{
    list-style: none;
    display:flex;
    flex-direction:column;
    gap: 16px;
}

.table ul a{
    font-size: 16px;
    color:#000000;
    text-align:left;
    text-decoration: none;
    vertical-align: middle;
    line-height:24px;
    border-style:hidden;
    /* font-family:' Plus Jakarta Sans'; */
    width: 220px;
    height: 24px;
    border-top: 1px solid rgba(234,234,234,1);
    padding-top: 16px;
    padding-bottom: 16px;
}


/* 
.table{
    display: flex;
    width: 255px;
    height: 496px;
    flex-direction: column;
   
    flex-shrink: 0;
    
    margin-top: 24px; 

    margin-left: 10.00rem;


    
    align-items: center;
    justify-content: space-around;
    background: url(Light.svg);
    background-size: contain;

} */
 .table1{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    width: 223px;
    display: flex;
    align-items: center;
    padding-left: 2px ;
    
}
#t12{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}
.tl{
    display: flex;
    align-items: start;
} 
.h24{
    /* margin-top: 26px; */
    margin-top: 1.18rem;
    color: #4C6BF1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.lim{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ait-website-81159.appspot.com/o/AIT-IMAGES%2F1R9A2726.JPG?alt=media&token=e1dcc3db-6c7e-46e7-aaca-31f940fce0ac);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: 30vw;
    flex-shrink: 0;
    background-size: cover;
    border-radius: 20px;
}
#but{
    border-radius: 6px;
    border: 1px solid #0C2695;
    background: #0C2695;
    text-decoration: none;

/* Neutral/Shadow 02 */
    box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
    color: var(--neutral-colors-100, #FFF);

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
    padding: 18px 22px 18px 22px;
}z
#but:hover{
    cursor: pointer;
    text-decoration: underline;
}
.h25{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.h30{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 72px;
}
.agc{
    margin-top: 16px;
    color: #6D6D6D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.t11{
    background: #4C6BF1;
    /* padding: 1px 1px 1px 1px; */
    /* width: 3px; */
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}
.govat{
    display: flex;
}
.history_con{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    margin-top: 1rem;
    text-align: justify;
}
.overview h2{
    margin-top: 1.18rem;
    color: #4C6BF1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content-transition{
    padding-bottom: 50px;
}

.external_link{
    width: inherit;
    display: flex;
    align-items: center;
    width: inherit;
    height: 3rem;
    flex-shrink: 0;
    background: #FAFAFA;
    /* background: #000; */
    /* padding-top: 1.12rem; */
}

.external_link .link{
    width: 1rem;
    height: 1rem;
    margin: 0.35rem;
    flex-shrink: 0;
}

.external_link .pdf{
    width: 1.35rem;
    height: 1.35rem;
    flex-shrink: 0;
}

#link_external{
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;

font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1.5rem; /* 150% */
}
.prior{
    text-decoration: none;
} 


#Notices{
    font-family: 'Plus Jakarta Sans';
    
}
.notices_info{
    display: flex;
    flex-wrap: wrap;
    gap: 25px 25px;
    margin-top: 40px;
    justify-content: left;
}
.notice_lists{
    height: 113px;
    width: 255px;
    box-shadow: 1px 1px 3px rgba(0, 0,0,0.1);
    border-radius: 10px;
    /* margin: 1rem; */
}
.notice_lists .date{
    font-size: 14px;
    color: #0C2695;
    font-weight: 500;
    padding:0.9rem;
    width: 207px;
    height: 10px;
    text-align: left;
    margin-bottom: 1rem;
}
.notice_lists a{
font-size: 1rem;
font-weight: 500;
text-align: left;
padding: 0.9rem;
color: black;
text-decoration: none;
}


/* ---------------------------------------------------------------- */
/*  */
.scholar h2{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Plus Jakarta Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.industrial_visit_links{
    height: 112px;
    width: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0,0,0.2);
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    padding: 1rem;
    
}

.industrial_visit_links img{
    margin-left: 1rem;
    height: 1.3rem;
    width: 1.3rem;
    margin-bottom: 0.35rem;
}
.industrial_visit_links a{
    color: #000;
    padding: 0.4rem 0.8rem 0.8rem 0rem;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.8rem;
    
}
.prior{
    text-decoration: none;
}



/*---------------------------------------------- education loan -------------------------------------------------*/

.loan_svg{
    display: flex;
    gap: 1rem;
}
.loan_svg svg{
    margin-top: 3px;
}
#but {
    border-radius: 6px;
    border: 1px solid #0C2695;
    background: #0C2695;
    box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
    color: var(--neutral-colors-100, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding: 8px 12px 9px 12px;
}
.loan_svg p{
    font-size: 1rem;
    margin-bottom: 1.4rem;
}
.loan_content{
    margin-bottom: 1.2rem;
}
.loan_arrow{
    display: flex;
    gap: 1rem;
    margin-bottom: 1.4rem;
}
.loan_arrow img{
    height: 0.5rem;
    width: 0.5rem;
    margin-top: 0.4rem;
}
.loan_content2{
    margin-top: 2rem;
    
}
.border_gap{
    width: auto;
    background-color: #4C6BF1;
    height: 1px;
    margin-top: 1.2rem;
}

#myTable {
    font-size: 1rem;
    width: inherit;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
} 

#myTable td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 20px 10px;
    border-left: none;
    border-right: none;
}

#myTable thead{
    background-color: #4C6BF1;
    color: #fff;
    /* font-weight: 600; */
}

#myTable>tbody>tr :nth-child(odd){
    background-color: #fff;
  }

#row{
    background-color: #fafafa;
    /* padding-left: 1rem; */
    padding-right: 1rem;
    /* min-width: 5.4rem; */
}

.col{
    color: #000; 
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Plus Jakarta Sans";
    /* font-size: 1rem; */
    /* font-style: normal;
    font-weight: 500;
    text-decoration: none;
    text-align: left;
    /* text-decoration: underline; */
    color: #0C2695;
    text-align: justify;
    line-height: 1.5rem; /* 171.429% */
    
}

.col:hover{
    text-decoration: underline;
}
.col img{
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 1rem;
}


/* magazine */

.mag{
    display: flex;
    /* border: .1px solid; */
    text-decoration: none;
    box-shadow: 1px 1px 5px #6D6D6D;
    justify-content: left;
    gap: 1rem;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 10px;
    font-weight: 600;
    width: 13rem;             /*<-magwidth*/
    color: #000;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.mag img{
    height: 10.5rem;
    /* min-width: 6.5rem; */
    width: 8rem;
    font-weight: lighter;
    background: #cccccc;
    font-weight: 600;
    color: #000;
    letter-spacing: .05rem;
}
.mag p{
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    writing-mode:vertical-rl;
}
.mag:hover{
    opacity: 90%;
    color:#0C2695;
    transition: 0.4s;
    letter-spacing: .05rem;
    font-weight: 800;
}

.mag-coll{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.read-mag{
    font-size: 1rem;
    /* margin-left: ; */
}

@media only screen and (max-width:1350px){
    .director_content, .laa ,.agb{
        width: calc(100vw - 14.5vw - 21.88rem);
    }
}

@media only screen and (max-width:1200px){
    .director_content, .laa ,.agb{
        width: calc(100vw - 13.5vw - 21.88rem);
    }
}

@media only screen and (max-width:1100px){
    .director_content, .laa ,.agb{
        width: calc(100vw - 12.5vw - 21.88rem);
    }
}

@media only screen and (max-width:1000px){
    .content-transition , .about_us, .main{
        padding: 0px 5%;
    }
    .director_content, .laa ,.agb{
        font-size: .9rem;
        width: calc(100vw - 21.00rem);
    }
    .para_con, #link_external{
        font-size: .9rem;
    }
    .header3 div p{
        left: 5%;
    }
  }
  @media only screen and (max-width:850px) {
    .content-transition ,.about_us, .main{
      padding: 0px 2%;
    }
    .director_content, .laa ,.agb{
        font-size: .8rem;
        width: calc(100vw - 17.50rem);
    }
    .para_con, #link_external{
        font-size: .8rem;
    }
    .header3 div p{
        left: 2%;
    }
  }

  
@media only screen and (max-width : 800px){
    #box_hide, .jd_table{
        position: fixed;
        /* top: 200px; */
        bottom: 5rem;
        right: 0;
        user-select: none;
        cursor: pointer;
        /* margin-left: 11.45%; */
      }
      
      .jd_table{
        background: #fff;
        width: fit-content;
        max-width: min-content;
        height: min(70%, 70vh);
        min-width: 225px;
        box-shadow: 0.1px 0.1px 3px rgba(0, 0,0,0.2);
        border-radius: 2px;
        font-family:'Plus Jakarta Sans';
        border-radius:8px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 17px;
        visibility: visible;
        z-index: 8;
        overflow-y: scroll;
        bottom: 1rem;
      }
      
      #box_hide{
        visibility: visible;
        background: #0C2695;
        border: #fff 1px solid;
        border-radius: .5rem;
        height: 2.5rem;
        width: 2.5rem;
        cursor: pointer;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #fff;
        opacity: 0.7;
      }
      
      .jd_table ul p{
        color: #0C2695;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'Plus Jakarta Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem; 
        padding-top: 6;
        border-style: hidden;
        border-top: 1px solid rgba(234,234,234,1);
      }
      
      .jd_table ul{
        list-style: none;
        display:flex;
        flex-direction:column;
        gap: 16px;
      }
      .jd_table ul a{
        font-size: 16px;
        color:#000000;
        text-align:left;
        vertical-align: middle;
        line-height:2rem;
        border-style:hidden;
        width: 220px;
        height: 1.5rem;
        border-top: 1px solid rgba(234,234,234,1);
        padding-top: 8px;
        padding-bottom: 12px;
      }
      .jd_table ul > *:first-child{
        border-top: 0;
      }
    .director_content, .laa ,.agb{
        margin-left: 0rem;
        font-size: .7rem;
        justify-content: center;
        /* text-align: center; */
        width: calc(100vw - 2.00rem);
        /* overflow: scroll; */
    }
    .director_ok{
        text-align: center;
    }
    .content-transition{
    justify-content: center;
    padding: 0 0;
    }
    #link_external{
        width: initial;
    }
    .notices_info{
        justify-content: center;
    }
    #myTable{
        font-size: .8rem;
    }
    #myTable td {
        padding: 8px 3px;
    }
    .director_ok{
        text-align: center;
    }
    .reading_more{
        text-align: right;
        padding-right: 2rem;
    }
    .mag-coll{
        justify-content: center;
    }
    .para_con{
        font-size: .7rem;
        text-align: center;
    }
    .para_con p{
        text-align: justify;
    }
    #link_external{
        font-size: .7rem;
    }
    .lim{
        height: 50vw;
    }
}

.para_containi>ul>li>strong, .para_containi>ul>li>a{
    color: #4C6BF1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
}
.para_containi>ul{
    list-style:square;
    margin-left: 1.5rem;
    line-height: 1.5rem;
}
.para_containi>ul>li>ul{
    list-style:square;
    margin-left: 3rem;
    color: #000;
}
.para_containi>ul>li>ul a, .para_containi>ul>li>a{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 16px;
    margin-right: 50px;
    text-decoration: none;
}
.para_containi ol{
    margin-left: 3rem;
    color: #000;
    line-height: 1.5rem;
}
.para_containi>ol>li a{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;
    margin-top: 16px;
    margin-right: 50px;
    text-decoration: none;
}
.para_containi ul ul li {
    list-style: square;
}
.para_containi ul ul li a{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;
    margin-top: 16px;
    margin-right: 50px;
    text-decoration: none;
}