.content-transition {
    opacity: 1;
    transition: opacity 0.86s ease-in-out;
}

.content-transition:not(.content-transition) {
    opacity: 0;
    transition: opacity 0.86s ease-in-out;
}


.footaddress{
    margin-right: 2rem;
}
.footvideo{
    width: 100%;
    height:8rem;
}
  
.footerCon2{
    /* margin-left: 2rem; */
    margin-right: 2rem;
}
